@media only screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        padding: 138px 0;
    }

    #form {
        width: 85%;
        padding: 40px 40px 102px 40px;
    }

    #names-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .name-container {
        width: 100%;
    }

    .radios-container {
        flex-direction: row;
    }

    #message {
        min-height: 132px;
    }
    
    .checkbox-container label {
        padding-bottom: 13px;
    }

    #submited {
        width: 450px;
    }
    
}